#using-web {
    text-align: center;
    line-height: 30px;
}
#arama-çubuğu {
    text-align: center;
    
}
#td-1 {
    background-color: aquamarine;
    width: 30%;
    height: 90px;
    
    text-align: center;
    margin-left: 70px;
    float: left;
    margin-right: 2px;

    
}
#td-2 {
    background-color: rgb(71, 215, 200);
    width: 20%;
    float: left;
    text-align: center;
    height: 90px;
    margin-right: 2px;
    
    
}
#td-3 {
    background-color: rgb(61, 169, 158);
    width: 40%;
    height: 90px;
    float: left;
    text-align: center;
    
}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
section {
    text-align: center;
    line-height: 2px;
    
}
p {
    line-height: 1px;
    padding: 0px;
    
}
article {
    padding: 2px;
}
#altyazı {
    
    background-color: white;

    width: 20%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
}
